.explanation{
    margin-top: 130px;
    padding-left: 23%;
    padding-right: 23%;
    margin-bottom: 100px;
}
.title-information{
    color: rgb(114, 114, 114);
    fill: rgb(144, 151, 160);
    font-size: 16px;
    line-height: 15px;
    margin: 0;
}
.title-information svg{
    margin-right: 6px;
    vertical-align: bottom;
}
.title-information .ml{
    margin-left: 27px;
}
@media screen and (max-width:760px){
    .explanation{
        padding-left: 3%;
        padding-right: 3%;
    }
}
.apply{
    margin-top: 50px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 70px;
}
.apply hr{
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    border: solid 1px rgb(230, 231, 235);
}
.apply p{
    display: block;
    margin-bottom: 5px;
    color: rgb(65, 77, 85);
}
.apply .title{
    font-size: 32px;
    margin-bottom: 5px;
    color: rgb(73, 80, 85);
}
.apply .subtitle{
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 15px;
    color: rgb(117, 117, 117);
}
.apply .help{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(117, 117, 117);
}
.apply form #select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    display: inline-block;
}
.apply form [type="text"], .apply form [type="tel"], .apply form [type="email"], textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    display: inline-block;
}
textarea{
    width: 100%;
}
.apply .btn{
    margin-top: 10px;
    width: 40%;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 53, 61);
    text-decoration: none;
    border: none;
    padding: 12px 15px;
    border-radius: 3px;
    font-size: 16px;
}
.apply .red{
    color: rgb(243, 72, 72);
}
.apply .w-100{
    width: 100%;
}
.apply .w\/2{
    width: 49%;
}
@media screen and (max-width:960px){
    .apply{
        margin-left: 3.5%;
        margin-right: 3.5%;
        margin-bottom: 100px;
    }
    .apply .btn{
        margin-top: 10px;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(47, 53, 61);
        text-decoration: none;
        border: none;
        padding: 12px 15px;
        border-radius: 3px;
        font-size: 16px;
    }
}